@import url(https://fonts.googleapis.com/css?family=Oxygen);

body {
  font-family: 'Oxygen';
}

#header-content {
  margin-left: 30px;
  margin-right: auto;
  width: 100%;
}

#body-content {
  display: flex;
  justify-content: left;
}

#tab-content {
  margin-left: 30px;
  width: 60%;
}

#more-info-content {
  display: block;
  float: right;
  height: inherit;
  margin-left: 40px;
  margin-right: auto;
  position: relative;
  width: 30%;
}

body {
  background-image: url(/images/nyc_night.jpg);
  background-size: 100%;
}

h1 {
  color: #64a7f5;
  font-size: 60px;
  padding-bottom: 0; 
  margin-bottom: 0;
}

ul {  
  color: #054f7d;
  font-size: 23px;
}

#about-me-header img {
  height: 3%; 
  margin: 5px;
  vertical-align: middle;
  width: 3%;
}

#about-me-header img:hover {
  border: 2px solid #64a7f5
}

#headshot {
  border: 2px solid #e4f5ff;
  margin: 13px;
  width: 20%;
}

#headshot:hover {
  border: 2px solid #64a7f5
}

.tabs {
  background-color: #054f7d;
  border: thick solid #64a7f5;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

.tabs button {
  background-color: inherit;
  border: none;
  cursor: pointer; 
  float: left;
  font-family: 'Oxygen';
  outline: none;
  padding: 14px 16px;
  transition: .3s;
}

.tabs button:hover {
  background-color: #64a7f5;
}

.tabs button.active {
  color: #64a7f5
}

.tabs button.active:hover {
  color: #e4f5ff
}

.tab-info {
  background-color: #e4f5ff;
  border: thick solid #64a7f5;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top: none;
  display: none;
  padding: 6px 12px;
}

.tab-info h3 {
  color: #64a7f5;
  font-size: 30px;
}

.tab-info p {
  color: #054f7d;
  font-size: 23px;
}

.tab-button {
  color: #e4f5ff;
  font-size: 30px;
  margin-left: 20px;
  margin-right: 20px;
}

.more-info {
  background-color: #e4f5ff;
  border: thick solid #64a7f5;
  border-radius: 10px;
  color: #64a7f5;
  display: none;
  text-align: center;
}

.more-info h2 {
  color: #054f7d;
  font-size: 40px;
  margin-bottom: 0;
  padding-bottom: 0;
}

.more-info img {
  border: thick solid #64a7f5;
}

.more-info p {
  font-size: 22px;
  padding: 5px 10px;
}

#timeline-container {
  display: inline-block;
  height: 700px;
  position: relative;
  vertical-align: middle;
  width: 100%;
}

#timeline {
  background: #64a7f5;
  height: 20px;
  left: 5%;
  position: absolute;
  top: 50%;
}

.endpoint {
  align-items: center;
  background-color: #64a7f5;
  border-radius: 50%;
  display: flex;
  height: 50px;
  justify-content: center;
  left: 2%;
  position: absolute;
  top: 47.5%;
  width: 50px;
}

.endpoint p {
  color: #e4f5ff;
  font-size: 13px;
}

.timeline-branch {
  background-color: #64a7f5;
  bottom: 50%;
  display: flex;
  position: absolute;
  justify-content: center;
  top: 50%;
  width: 10px;
}

.timeline-branch img {
  border: thick solid #054f7d;
  display: none;
  height: 60%;
  position: absolute;
  width: auto;
}

#astronomy,
#tornadoes,
#photography {
  border-top-left-radius: 10px; 
  border-top-right-radius: 10px;
}

#geography,
#architecture,
#compsci {
  border-bottom-left-radius: 10px; 
  border-bottom-right-radius: 10px;
}

.timeline-branch img:hover {
  border: thick solid #64a7f5;   
}

.image-thumbnails {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.image-thumbnails img {
  border: thick solid #054f7d;
  margin: 10px;
  max-height: 250px;
  max-width: 250px;
}

.image-thumbnails img:hover {
  border: thick solid #64a7f5;
}

.comment {
  margin: 15px 15px 15px 15px;
  background-color: #c4e9ff;
  border: thick solid #054f7d;
  border-radius: 10px;
}

#author {
  margin: 10px 10px 5px 10px;
  color: #054f7d;
  font-size: 20px;
}

#message {
  margin: 0px 10px 10px 10px;
  color: #64a7f5;
  font-size: 30px;
}

