@import url("https://fonts.googleapis.com/css?family=Oxygen");
@import url("https://fonts.googleapis.com/css?family=EB Garamond");

#content {
    margin-left: 30px;
    margin-right: auto;
    width: 1000px;
    font-family: "Oxygen";
}

#tabcontent {
    margin-top: 20px;
    margin-left: 30px;
    margin-right: auto;
    border: 1px solid #000;
    background-color: #6c8696;
    width: 1000px;
    font-family: "EB Garamond";
}

body {
    background-image: url("/images/nyc_night.jpg");
    background-size: 100%;
}

h1 {
    font-size: 60px;
    color: #e6ffe6;
}

h2 {
    font-size: 40px;
    color: inherit;
}

p {
    color: #a6ddff;
}

.tabs {
  overflow: hidden;
  border: 1px solid #fff;
  background-color: #054f7d;
}

.tabs button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer; 
  padding: 14px 16px;
  transition: 0.3s;
}

.tabs button:hover {
  background-color: #64a7f5;
}

.tabs button.active {
  color: #64a7f5
}

.tabinfo {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.tabbutton {
    font-size: 20px;
    color: #fff;
    font-family: "EB Garamond";
}

/*

.images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.images img {
  margin: 10px;
  max-width: 300px;
  max-height: 300px;
}

.images img:hover {
  border: thick solid darkslateblue;
}
*/